version: "3.3"
services:
  redis:
    image: redis:6.0.7
    container_name: redis
    restart: always
    volumes:
      - /mnt/sharedata/redis:/data
    ports:
      - 6379:6379
  redis_insight:
    image: redislabs/redisinsight:latest
    container_name: redis_insight
    restart: always
    ports:
      - 8001:8001
    environment:
     - PUID=0 # for UserID
     - PGID=0
     - TZ=Canada/Toronto  
    volumes:
      - /home/raj/redis:/db
